#################################################################################
# Configuration file for JpsiToPhiPiPi PWA                                      #
#                                                                               #
# Authors: Bertram Kopf, Markus Kuhlmann (RUB)                                  #
#################################################################################

#General Settings
errLogMode = trace
datFile    = Scattering/I0/Swave/eta00_Madrid0.01sys_Ochs2013---SmallerErrors.out

orderInFile = Px Py Pz E

#serializationFile = ../../serializedOutput.dat
sheet = nn
minImagMass = -0.18
maxImagMass = -0.03
minRealMass = 1.29
maxRealMass = 1.33
startRealMass = 1.312272938
startImagMass = -0.0529

massRangeCuts = 0.8 3.0 pion0 eta

paramFile  = ../../currentResult.dat

baseNameFVector = a2MatrixPiRecMJ1P1C1

cloneParticle = a2Matrix0 a2Matrix

verbose = 1
productionFormalism = PVecIntensity
pdgTableFile = /Particle/pdtNew.table

#Final State Definition
finalStateParticle = pion0
finalStateParticle = eta


#Decay Definition
decay = a2Matrix To pion0 eta 

#Dynamics
addDynamics = a2Matrix FVectorIntensity KMatFiles/a2/2poles2channels/kMatrixa2_2poles_2channelsKpK0_Dudek.cfg pion0 eta




