#################################################################################
# Configuration file for JpsiToPhiPiPi PWA                                      #
#                                                                               #
# Authors: Bertram Kopf, Markus Kuhlmann (RUB)                                  #
#################################################################################

#General Settings
errLogMode = trace

serializationFile = ../../serializedOutput.dat
sheet = nn
minImagMass = -0.18
maxImagMass = -0.03
minRealMass = 1.29
maxRealMass = 1.33
startRealMass = 1.312272938
startImagMass = -0.0529 

paramFile  = ../../currentResult.dat

cloneParticle = a2Matrix0 a2Matrix

verbose = 1
productionFormalism = Phase
pdgTableFile = /Particle/pdtNew.table

#Final State Definition
finalStateParticle = pion0
finalStateParticle = eta


#Decay Definition
decay = a2Matrix To pion0 eta 

#Dynamics
addDynamics = a2Matrix TMatrix /data/jollyj/bertram/KMatricesV1/a2/kMatrixa2_2poles_2channelsKpK0_Dudek.cfg pion0 eta




