/Jamroot

# Output files
*.out
*.root
htmlcov/

# Temporary files
.fuse_hidden*
.ipynb_checkpoints/
__pycache__/

# Build files
*.egg-info/
*.pyc
.coverage
.coverage.*
.eggs/
__pycache__/
bin/
lib/
version.py

# Virtual environments
*venv/
.tox/

# Settings
.idea/
**.code-workspace
