/Jamroot

# Output files
*.out
*.root
defaultparams*.dat
gammapIntensity*.csv
htmlcov/

# Temporary files
.fuse_hidden*
.ipynb_checkpoints/
__pycache__/

# Build files
*.egg-info/
*.pyc
.coverage
.coverage.*
.eggs/
__pycache__/
bin/
lib/
build/
version.py

# Virtual environments
*venv/
.tox/

# Settings
.idea/
**.code-workspace

result

*.fit
*.ni
*.o

generated/
fitZlm
