#################################################################################
# Configuration file for JpsiToEtaPiPi PWA                                     #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
noOfThreads = 32
#errLogMode = trace
datFile    = /data/sleipnir1/bertram/pwaData/D0Data/pipiSandKpiS/KMatrix+Kst1430m.txt
#datFile    = /data/sleipnir1/bertram/pwaData/D0Data/KpiSOnly/Kst1430m.txt
mcFile     = /data/sleipnir1/bertram/pwaData/D0Data/pipiSOnly/Ascii_PHSP.txt
#datFile    = /data/sleipnir1/bertram/pwaData/D0Data/pipiSOnly/Ascii_PHSP.txt

#datFile    = /data/sleipnir1/bertram/pwaData/JpsiToOmOmTo3KKmiss/Weight/pwa_file_DATA_JpsiToGamKp2Km2missKp1Km1.dat
#mcFile     = /data/sleipnir1/bertram/pwaData/JpsiToOmOmTo3KKmiss/Weight/pwa_file_1MSigMC_JpsiToGamKp2Km2missKp1Km1.dat

ratioMcToData = 10
useEventWeight = true

paramFile  = ./defaultparams.dat
#paramFile  = ./finalResult.dat

enableHyp = PiPiSWaveAS
enableHyp = KPiSWaveIso1
enableHyp = KPiSWaveIso3

mode = qaMode
# Determines whether information about configuration options should be emitted
verbose = 1

mnParFix = J0P-1C0L0S0PiPiSWaveASPhi
mnParFix = PiPiSWaveASb_pole1MagOther
mnParFix = PiPiSWaveASb_pole1PhiOther
mnParFix = PiPiSWaveASb_pole5MagOther
mnParFix = PiPiSWaveASb_pole5PhiOther
mnParFix = PiPiSWaveASfprod_etaetapMagOther
mnParFix = PiPiSWaveASfprod_etaetapPhiOther

finalStateParticle = K+
finalStateParticle = K-
finalStateParticle = pion0

production = phi	pion0
production = K*+ K-
production = K*- K+

decay = phi K+ K-
decay = K*+ K+ pion0
decay = K*- K- pion0	

replaceParamSuffix  = K*+_K- K*K
replaceParamSuffix  = K*-_K+ K*K
replaceParamSuffix  = K*+ToK+_pion K*ToK_pion
replaceParamSuffix  = K*-ToK-_pion K*ToK_pion

pdgTableFile = /Examples/pbarp/bin/gcc-4.4.5/release/link-static/pdt.table
