#################################################################################
# Configuration file for JpsiToEtaPiPi PWA                                     #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
noOfThreads = 32
#errLogMode = trace
datFile    = /data/sleipnir1/bertram/pwaData/pbarpToOmegaPi0/PWA_1940.dat
mcFile     = /data/sleipnir1/bertram/pwaData/pbarpToOmegaPi0/mcPWA_1940.dat


ratioMcToData = 10
useEventWeight = true

#paramFile  = ./defaultparams.dat
#paramFile  = ./finalResult.dat
paramFile  = ./finalResultL3.dat


mode = qaMode
# Determines whether information about configuration options should be emitted
verbose = 1

mnParFix = J1P-1C-1L0S1pbarpPhi
mnParFix = J1P1C-1L1S0pbarpPhi
mnParFix = J1P-1C-1L1S1_J1P-1C-1Tophi_pion0Mag
mnParFix = J1P-1C-1L1S1_J1P-1C-1Tophi_pion0Phi
mnParFix = J1P1C-1L0S1_J1P1C-1Tophi_pion0Mag
mnParFix = J1P1C-1L0S1_J1P1C-1Tophi_pion0Phi
mnParFix = J2P-1C-1L1S1_J2P-1C-1Tophi_pion0Mag
mnParFix = J2P-1C-1L1S1_J2P-1C-1Tophi_pion0Phi
mnParFix = J3P-1C-1L3S1_J3P-1C-1Tophi_pion0Mag
mnParFix = J3P-1C-1L3S1_J3P-1C-1Tophi_pion0Phi
mnParFix = J3P1C-1L2S1_J3P1C-1Tophi_pion0Mag
mnParFix = J3P1C-1L2S1_J3P1C-1Tophi_pion0Phi

#mnParFix = J4P-1C-1L3S1_J4P-1C-1Tophi_pion0Mag
#mnParFix = J4P-1C-1L3S1_J4P-1C-1Tophi_pion0Phi
#mnParFix = J5P-1C-1L5S1_J5P-1C-1Tophi_pion0Mag
#mnParFix = J5P-1C-1L5S1_J5P-1C-1Tophi_pion0Phi

mnParFix = J1P-1C-1L1S0_phiToK+_K-Mag
mnParFix = J1P-1C-1L1S0_phiToK+_K-Phi

finalStateParticle = pion0
finalStateParticle = K+
finalStateParticle = K-

production = phi	pion0
#production = K*+ K-
#production = K*- K+

decay = phi K+ K-
#decay = K*+ K+ pion0
#decay = K*- K- pion0	

#addDynamics = phi BreitWigner

#replaceParamSuffix  = K*+_K- K*K
#replaceParamSuffix  = K*-_K+ K*K
#replaceParamSuffix  = K*+ToK+_pion K*ToK_pion
#replaceParamSuffix  = K*-ToK-_pion K*ToK_pion

histMass = K+ K-
histMass = K- pion0
histMass = K+ pion0

histAngles = pion0 from K+ K- pion0
histAngles = K+ from K+ K- 
pdgTableFile = /Examples/pbarp/bin/gcc-4.4.5/release/link-static/pdt.table
cacheAmps = true
lmax = 3
