#################################################################################
# Configuration file for JpsiToEtaPiPi PWA                                     #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
noOfThreads = 32
#errLogMode = trace
datFile    = /data/sleipnir1/bertram/pwaData/D0Data/pipiSandKpiS/KMatrix+Kst1430m.txt
#datFile    = /data/sleipnir1/bertram/pwaData/D0Data/KpiSOnly/Kst1430m.txt
mcFile     = /data/sleipnir1/bertram/pwaData/D0Data/pipiSOnly/Ascii_PHSP.txt
#datFile    = /data/sleipnir1/bertram/pwaData/D0Data/pipiSOnly/Ascii_PHSP.txt

#datFile    = /data/sleipnir1/bertram/pwaData/JpsiToOmOmTo3KKmiss/Weight/pwa_file_DATA_JpsiToGamKp2Km2missKp1Km1.dat
#mcFile     = /data/sleipnir1/bertram/pwaData/JpsiToOmOmTo3KKmiss/Weight/pwa_file_1MSigMC_JpsiToGamKp2Km2missKp1Km1.dat

ratioMcToData = 10
useEventWeight = true

paramFile  = ./defaultparams.dat
#paramFile  = ./finalResult.dat

enableHyp = PiPiSWaveAS
enableHyp = KPiSWaveIso1
enableHyp = KPiSWaveIso3

mode = qaMode
# Determines whether information about configuration options should be emitted
verbose = 1

mnParFix = J0P-1C0L0S0PiPiSWaveASPhi
mnParFix = PiPiSWaveASb_pole1MagOther
mnParFix = PiPiSWaveASb_pole1PhiOther
mnParFix = PiPiSWaveASb_pole5MagOther
mnParFix = PiPiSWaveASb_pole5PhiOther
mnParFix = PiPiSWaveASfprod_etaetapMagOther
mnParFix = PiPiSWaveASfprod_etaetapPhiOther

finalStateParticle = pion0
finalStateParticle = pion0
finalStateParticle = eta

production = a0(980)	pion0
production = f0(980) eta
production = a2(1320)	pion0

decay = a0(980) eta pion0
decay = f0(980) pion0 pion0
decay = a2(1320) eta pion0	

pdgTableFile = /Examples/pbarp/bin/gcc-4.4.5/release/link-static/pdt.table
