#################################################################################
# Configuration file for JpsiToEtaPiPi PWA                                     #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
datFile    = /data/liema/michaell/PwaJpsiGamEtaPiPi/FS4Vectors-Data-JpsiGamEtaPipPim_v2.dat
mcFile     = /data/liema/michaell/PwaJpsiGamEtaPiPi/FS4Vectors-PHSPMC-JpsiGamEtaPipPim_v2.dat
#paramFile  = /data/liema/michaell/Pawian/Examples/JpsiGamEtaPiPi/startParamBase.dat
paramFile  = ./defaultparams.dat
startHypo  = production

enableHyp = etaToPiPiEtaHyp
enableHyp = etaToa980PiHyp
enableHyp = etaTof0_980EtaHyp
enableHyp = etaToSigmaEtaHyp
#enableHyp = etaToa2_1320PiHyp
enableHyp = f1ToPiPiEtaHyp
enableHyp = f1Toa980PiHyp
enableHyp = usePhasespace


mnParFix = J1P-1C-1L1S1PsiToEtaGammaPhi

massRangeMin = 1.30
massRangeMax = 1.35

#massRangeMin = 0.
#massRangeMax = 5.

#massRangeMin = 2.29
#massRangeMax = 3.05

#massRangeMin = 1.39
#massRangeMax = 1.46

#massRangeMin = 1.75
#massRangeMax = 1.85

mode = pwa
# Determines whether information about configuration options should be emitted
verbose = 1
