#################################################################################
# Configuration file for JpsiToEtaPiPi PWA                                     #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
datFile    = /data/liema/michaell/PwaJpsiGamEtaPiPi/FS4Vectors-Data-JpsiGamEtaPipPim.dat
mcFile     = /data/liema/michaell/PwaJpsiGamEtaPiPi/FS4Vectors-PHSPMC-JpsiGamEtaPipPim.dat
#paramFile  = /data/liema/michaell/Pawian/Examples/JpsiGamEtaPiPi/startParamBase.dat
paramFile  = ./defaultparams.dat
startHypo  = production

enableHyp = etaHyp
#enableHyp = f1Hyp
enableHyp = usePhasespace


mnParFix = J1P-1C-1L1S1PsiToEtaGammaPhi

#massRangeMin = 1.28
#massRangeMax = 1.30

#massRangeMin = 0.
#massRangeMax = 5.

massRangeMin = 2.29
massRangeMax = 3.05

mode = qaMode
# Determines whether information about configuration options should be emitted
verbose = 1
