#################################################################################
# Configuration file for JpsiToEtaPiPi PWA                                     #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
datFile    = /data/liema/michaell/PwaJpsiGamEtaPiPi/FS4Vectors-Data-JpsiGamEtaPipPim.dat
mcFile     = /data/liema/michaell/PwaJpsiGamEtaPiPi/FS4Vectors-PHSPMC-JpsiGamEtaPipPim.dat
paramFile  = /data/liema/michaell/Pawian/Examples/JpsiGamEtaPiPi/startParamBase.dat
startHypo  = production

enableHyp = f11285Hyp
enableHyp = eta1295Hyp
enableHyp = eta1405Hyp	
#enableHyp = f02020FlatteHyp
#enableHyp = f22300Hyp
#enableHyp = eta21870Hyp
#enableHyp = f1Hyp
enableHyp = usePhasespace


mnParFix = J1P-1C-1L1S1PsiToEtacGamPhi

massRangeMin = 1.28
massRangeMax = 1.30

mode = qaMode
# Determines whether information about configuration options should be emitted
verbose = 1
