#################################################################################
# Configuration file for JpsiToGammaOmegaOmega PWA                              #
#                                                                               #
# Authors: Bertram Kopf, Malte Albrecht (RUB)                                   #
#################################################################################

#errLogMode = debug
errLogMode = trace

datFile    = ./toyD0decData.dat
mcFile     =  ./toyD0decMc.dat

#orderInFile = Px Py Pz E 
orderInFile = E Px Py Pz

paramFile = ./startparams.dat

minimumTolerance = 10

#noOfGenEvents = 15000
#randomSeed = 54871

#noOfDataEvents = 2000
ratioMcToData  = 5

#useDataEventWeight = true
#useMCEventWeight = true

#generateWithModel = true
#generateWithModel = false
useDataEventWeight = false
useMCEventWeight = false

mode = qaMode
name = _res


#massRangeCuts = 0.762 0.802 pion2+ pion2- pion20
#massRangeCuts = 1.005 1.035 K+ K-
#cmsMass = 3.096916


# Determines whether information about configuration options should be emitted
verbose = 1

motherRes = D0 

finalStateParticle = Kshort
finalStateParticle = pion+
finalStateParticle = pion-

#cloneParticle = pion+ pion1+

productionFormalism = Heli
# useProductionBarrier = true 0.66

usePhaseSpaceHyp = false


production = pipiS Kshort BlattWBarrier 0.66 
production = K*- pion+ BlattWBarrier 0.66

decay = Cano pipiS To pion+ pion- 
decay = Cano noIso K*- To Kshort pion-

#Dynamics
# NO dynamics!! Omega shape is in MCs, eta_c shape is in MCs!

addDynamics = pipiS PiPiSWaveAS 
addDynamics = K*- BreitWignerBlattWRel

#Histogramms
histMass = Kshort pion+ 
histMass = Kshort pion-
histMass = pion+ pion-

histAngles = Kshort pion+ from Kshort pion+ pion-
histAngles = Kshort from Kshort pion+
histAngles = Kshort from Kshort pion-
histAngles = pion+ from pion+ pion-


#Fixed Parameter
mnParFix = J0P-1C0Lama0Lamb0_D0TopipiS_KshortPhi
mnParFix = L0S0_pipiSTopion+_pion-Mag
mnParFix = L0S0_pipiSTopion+_pion-Phi
mnParFix = pipiSD0b_pole1Mag
mnParFix = pipiSD0b_pole1Phi
mnParFix =pipiSD0b_pole5Mag
mnParFix =pipiSD0b_pole5Phi

mnParFix = pipiSD0fprod_4PiMag
mnParFix = pipiSD0fprod_4PiPhi
mnParFix = pipiSD0fprod_EtaEtaMag
mnParFix = pipiSD0fprod_EtaEtaPhi
mnParFix = pipiSD0fprod_EtaEtapMag
mnParFix = pipiSD0fprod_EtaEtapPhi
mnParFix = pipiSD0fprod_KKMag
mnParFix = pipiSD0fprod_KKPhi
mnParFix = pipiSD0S0

mnParFix = L1S0_K*-ToKshort_pion-Mag
mnParFix = L1S0_K*-ToKshort_pion-Phi


preFactor = D0ToK*-_pion+ +1.



pdgTableFile = /Particle/pdtNew.table
cacheAmps = true

serverPort = 52319
serverAddress = localhost
noOfClients = 2
noOfThreads = 2
evoIterations = 50
evoPopulation = 160
evoRatioOfModParams = 0.3

#calcContribution = eta(2225)  withZeroAmp  Tof2(1910)
#calcContribution = f2(1910)  withZeroAmp  Toeta(2225)
#contributionError = true
#saveContributionHistos = true
