#################################################################################
# Configuration file for JpsiToEtaPiPi PWA                                     #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = trace
datFile    = /data/liema/michaell/PwaJpsiGamEtaPiPi/FS4Vectors-Data-JpsiGamEtaPipPim_v4.dat
mcFile     = /data/liema/michaell/PwaJpsiGamEtaPiPi/FS4Vectors-PHSPMC-JpsiGamEtaPipPim_10m_v4.dat
sumFile    = /data/liema/michaell/PawianV4_MT2/Pawian/Examples/JpsiGamEtaPiPiNew/bin/gcc-4.4.4/release/link-static/summary.dat
paramFile  = ./defaultparams.dat
startHypo  = production
jobOption = _F1_a0f0

enableHyp = Phasespace
#enableHyp = GammaEta_1405
enableHyp = Eta_1405Toa980Pi
enableHyp = Eta_1405Tof980Eta
#enableHyp = Eta_1405ToSigmaEta
#enableHyp = Eta_1405ToPiPiEta
#enableHyp = Eta_1405Toa2_1320Pi
#enableHyp = Eta_1405Tof2_1270Eta
enableHyp = GammaF1_1510
enableHyp = F1_1510Toa980Pi
enableHyp = F1_1510Tof980Eta
#enableHyp = F1_1510ToSigmaEta
#enableHyp = F1_1510ToPiPiEta
#enableHyp = F1_1510Toa2_1320Pi
#enableHyp = F1_1510Tof2_1270Eta
#enableHyp = GammaEta2_1645
enableHyp = Eta2_1645Toa980Pi
enableHyp = Eta2_1645Tof980Eta
#enableHyp = Eta2_1645ToSigmaEta
#enableHyp = Eta2_1645ToPiPiEta
#enableHyp = Eta2_1645Toa2_1320Pi
#enableHyp = Eta2_1645Tof2_1270Eta

mnParFix = J1P-1C-1Lama0Lamb1GammaF1_1510Phi
mnParFix = a0_980Mass
mnParFix = f0_980Mass
#mnParFix = a2_1320Mass
#mnParFix = a2_1320Width


massRangeMin = 1.19
massRangeMax = 1.21

mode = qaMode
#mode = dumpDefaultParams
# Determines whether information about configuration options should be emitted
verbose = 1
