#################################################################################
# Configuration file for D0ToKmPipPi0Data PWA                              #
#                                                                               #
# Authors: Bertram Kopf                                   #
#################################################################################

errLogMode = trace

datFile    = ./evtGenD0ToKmPipPi0Data.dat
mcFile     = ./evtGenD0ToKmPipPi0Mc.dat

orderInFile = E Px Py Pz

paramFile = ./startparams.dat

minimumTolerance = 10

noOfDataEvents = 3000
ratioMcToData  = 3

useDataEventWeight = false
useMCEventWeight = false

mode = qaMode
name = _D0ToKPiPi

# Determines whether information about configuration options should be emitted
verbose = 1

motherRes = D0 

finalStateParticle = K-
finalStateParticle = pion+
finalStateParticle = pion0

productionFormalism = Heli
# useProductionBarrier = true 0.66

usePhaseSpaceHyp = false


production = K*- pion+ BlattWBarrier 0.66
production = K- rho+ BlattWBarrier 0.66

decay = Cano noIso K*- To K- pion0
decay = Cano rho+ To pion+ pion0

#Dynamics
# NO dynamics!! Omega shape is in MCs, eta_c shape is in MCs!

addDynamics = K*- BreitWignerBlattWRel
addDynamics = rho+ BreitWignerBlattWRel

#Histogramms
histMass = K- pion+ 
histMass = K- pion0
histMass = pion+ pion0

histAngles = K- from K- pion+ pion0
histAngles = pion+ from K- pion+ pion0
histAngles = pion0 from K- pion+ pion0
histAngles = K- from K- pion+
histAngles = K- from K- pion0
histAngles = pion+ from pion+ pion0

replaceParamSuffix  = K*- K*
replaceParamSuffix  = K- K

replaceMassKey = K*- K*

#Fixed Parameter
#one phase of the production amplitude
mnParFix = J0P-1C0Lama0Lamb0_D0ToK*_pion+Phi

#K*
mnParFix = L1S0_K*ToK_pion0Mag
mnParFix = L1S0_K*ToK_pion0Phi

#rho
mnParFix = L1S0_rho+Topion+_pion0Mag
mnParFix = L1S0_rho+Topion+_pion0Phi

pdgTableFile = /Particle/pdtNew.table
cacheAmps = true

serverPort = 52319
serverAddress = localhost
noOfClients = 2
noOfThreads = 4
evoIterations = 50
evoPopulation = 160
evoRatioOfModParams = 0.3

#calcContribution = K*  withZeroAmp  ToK_rho+
#calcContribution = rho+  withZeroAmp ToK*_pion+
#contributionError = true
#saveContributionHistos = true
