noOfChannels = 2
noOfPoles    = 2

# Hanhart paper
# mR ~= 1GeV
# Gamma_pieta = (70+143+69) / 3. MeV = 94 MeV
# R = (1.03 + 1.03 + 1.16) / 3. = 1.07333
# => Gamma_KK = 100.9 MeV
# PhysicsTools::WidthToGFactor(0.094, 1.0, 0.135, 0.548)
# (double)3.75909253415982636e-01
# root [8] PhysicsTools::WidthToGFactor(0.1009, 1.0, 0.494, 0.494)
# (double)8.08250862245800339e-01

# bugg paper !

gFactor = pion0 eta	0.4701  0.68
#  0.51
gFactor = K+ K-	        0.50632 0
#  0.480


pole = a980 1.00
pole = a1450 1.490

projection = pion0 eta
useBarrierFactors = false
orbitalMomentum = 0

