errLogMode = trace

datFile    = ./evtGenPbarpToKKPiData.dat
mcFile     = ./evtGenPbarpToKKPiMc.dat
#minimumTolerance = 20

unitInFile = MEV
orderInFile = E Px Py Pz

name = _pbarpKKPi

noOfDataEvents = 3000
ratioMcToData = 3

useDataEventWeight = false
useMCEventWeight = false

paramFile  = ./startparams.dat
mode = pwa

verbose = 1

finalStateParticle = K+
finalStateParticle = K-
finalStateParticle = pion0

pdgTableFile = /Particle/pdtNew.table
cacheAmps = true
pbarmom = 0.9
initial4Vec =    2.238404836    0.      0.     0.9 
projectile4Vec = 1.300134       0.      0.     0.9

lmax = 1
serverPort = 24611
serverAddress = pc14
noOfClients = 32
noOfThreads = 2
evoIterations = 50
evoPopulation = 10


# Productions
production = pipiS pion0 BlattWBarrier
production = aMatrix0 pion0 BlattWBarrier


#calcContribution = aMatrix0 withZeroAmp TopipiS_pion0
#calcContribution = pipiS  withZeroAmp ToaMatrix0
#saveContributionHistos = true

# Decays
decay = Cano  pipiS To K+ K-
decay = Cano  aMatrix0 To K+ K-

# dynamics
addDynamics = pipiS PiPiSWaveAS
addDynamics = aMatrix0 KMatrix ./kMatrixa0_pieta_2channel_2poles_kk.cfg

histMass = K+ K-
histMass = K+ pion0
histMass = K- pion0

histAngles = K+ from K+ K- pion0
histAngles = K- from K+ K- pion0
histAngles = pion0 from K+ K- pion0
histAngles = K+ from K+ K-
histAngles = K+ from K+ pion0

# aMatrix0
mnParFix = L0S0_J0P-1C1ToaMatrix0_pion0Mag 
mnParFix = L0S0_J0P-1C1ToaMatrix0_pion0Phi
mnParFix = L0S0_aMatrix0ToK+_K-Mag
mnParFix = L0S0_aMatrix0ToK+_K-Phi
#mnParFix = aMatrix0J0P-1C1b_a1450Mag      
#mnParFix = aMatrix0J0P-1C1b_a1450Phi     
#mnParFix = aMatrix0J1P1C1b_a1450Mag
#mnParFix = aMatrix0J1P1C1b_a1450Phi

#mnParFix = a980Mass
#mnParFix = a980pion0etagFactor
#mnParFix = a980K+K-gFactor
#mnParFix = a1450Mass
#mnParFix = a1450pion0etagFactor
mnParFix = a1450K+K-gFactor

#mnParFix = L0S0_aMatrix0ABTopion0_etaABMag
#mnParFix = L0S0_aMatrix0ABTopion0_etaABPhi


# pipiS wave

mnParFix = L0S0_J0P-1C1TopipiS_pion0Mag
mnParFix = L0S0_J0P-1C1TopipiS_pion0Phi
mnParFix = L1S0_J1P1C1TopipiS_pion0Mag
mnParFix = L1S0_J1P1C1TopipiS_pion0Phi
mnParFix = pipiSJ0P-1C1S0
mnParFix = pipiSJ1P1C1S0

mnParFix = pipiSJ0P-1C1fprod_4PiMag
mnParFix = pipiSJ0P-1C1fprod_4PiPhi
#mnParFix = pipiSJ0P-1C1fprod_EtaEtaMag
#mnParFix = pipiSJ0P-1C1fprod_EtaEtaPhi	
mnParFix = pipiSJ0P-1C1fprod_EtaEtapMag
mnParFix = pipiSJ0P-1C1fprod_EtaEtapPhi
#mnParFix = pipiSJ0P-1C1fprod_KKMag	
#mnParFix = pipiSJ0P-1C1fprod_KKPhi	
mnParFix = pipiSJ0P-1C1fprod_PiPiMag	
mnParFix = pipiSJ0P-1C1fprod_PiPiPhi	
mnParFix = pipiSJ1P1C1fprod_4PiMag
mnParFix = pipiSJ1P1C1fprod_4PiPhi
#mnParFix = pipiSJ1P1C1fprod_EtaEtaMag
#mnParFix = pipiSJ1P1C1fprod_EtaEtaPhi
mnParFix = pipiSJ1P1C1fprod_EtaEtapMag
mnParFix = pipiSJ1P1C1fprod_EtaEtapPhi
#mnParFix = pipiSJ1P1C1fprod_KKMag
#mnParFix = pipiSJ1P1C1fprod_KKPhi
mnParFix = pipiSJ1P1C1fprod_PiPiMag
mnParFix = pipiSJ1P1C1fprod_PiPiPhi

mnParFix = L0S0_pipiSToK+_K-Mag 
mnParFix = L0S0_pipiSToK+_K-Phi

###############################################
# Output from the PawianFixParameters script ##
###############################################

# Fixing 46 parameters. 

# productions and decays


# isospin factors
mnParFix = Iso1J0P-1C1
mnParFix = Iso1J1P1C1

# one pbarp singlet and one triplet phase
mnParFix = aMatrix0J0P-1C1b_a980Phi
mnParFix = aMatrix0J1P1C1b_a980Phi

mnParFix = J0P-1C1L0S0pbarpMag
mnParFix = J0P-1C1L0S0pbarpPhi
mnParFix = J1P1C1L1S1pbarpMag 
mnParFix = J1P1C1L1S1pbarpPhi 

