errLogMode = trace

datFile    = ./genPbarpToEtaEtaPi0Data.dat
mcFile     = ./genPbarpToEtaEtaPi0Mc.dat
#minimumTolerance = 20

name = _pbarpEtaEtaPi

unitInFile = MEV
orderInFile = E Px Py Pz

noOfDataEvents = 3000
ratioMcToData = 3

useDataEventWeight = false
useMCEventWeight = false

paramFile  = ./startparamsV4.dat
mode = pwa

verbose = 1


cloneParticle = eta etaA
cloneParticle = eta etaB
cloneParticle = aMatrix0 aMatrix0A
cloneParticle = aMatrix0 aMatrix0B


finalStateParticle = pion0
finalStateParticle = etaA
finalStateParticle = etaB

pdgTableFile = /Particle/pdtNew.table
cacheAmps = true
pbarmom = 0.9
lmax = 1
serverPort = 24639
serverAddress = pc14
noOfClients = 32
noOfThreads = 4
evoIterations = 50
evoPopulation = 10


# Productions
production = pipiS pion0 BlattWBarrier
production = aMatrix0A etaB BlattWBarrier
production = aMatrix0B etaA BlattWBarrier
#'


#calcContribution = aMatrix0A withZeroAmp TopipiS_pion0
#calcContribution = pipiS  withZeroAmp ToaMatrix0AB
#saveContributionHistos = true

# Decays
decay = Cano  pipiS To etaA etaB
decay = Cano  aMatrix0A To pion0 etaA
decay = Cano  aMatrix0B To pion0 etaB

# dynamics
addDynamics = pipiS PiPiSWaveAS
addDynamics = aMatrix0A KMatrix ./kMatrixa0_pieta_2channel_2poles_etapi.cfg
addDynamics = aMatrix0B KMatrix ./kMatrixa0_pieta_2channel_2poles_etapi.cfg

histMass = etaA etaB
histMass = pion0 etaA
histMass = pion0 etaB

histAngles = etaA etaB from etaA etaB pion0
histAngles = etaA pion0 from etaA etaB pion0
histAngles = etaB pion0 from etaA etaB pion0
histAngles = etaA from etaA etaB
histAngles = etaA from etaA pion0

replaceParamSuffix  = aMatrix0A_etaB aMatrix0_eta
replaceParamSuffix  = aMatrix0B_etaA aMatrix0_eta
replaceParamSuffix  = aMatrix0ATopion0_etaA aMatrix0Topion0_eta
replaceParamSuffix  = aMatrix0BTopion0_etaB aMatrix0Topion0_eta
replaceMassKey = aMatrix0A aMatrix0
replaceMassKey = aMatrix0B aMatrix0



# Fixing parameters. 

# productions and decays

# isospin factors
mnParFix = Iso1J0P-1C1
mnParFix = Iso1J1P1C1

# pbarp prod amps
mnParFix = J0P-1C1L0S0pbarpMag
mnParFix = J0P-1C1L0S0pbarpPhi
mnParFix = J1P1C1L1S1pbarpMag 
mnParFix = J1P1C1L1S1pbarpPhi

# one pbarp singlet and one triplet phase
mnParFix = aMatrix0J0P-1C1b_a980Phi
mnParFix = aMatrix0J1P1C1b_a980Phi


# pipiS wave
mnParFix = L0S0_J0P-1C1TopipiS_pion0Mag
mnParFix = L0S0_J0P-1C1TopipiS_pion0Phi
mnParFix = L1S0_J1P1C1TopipiS_pion0Mag
mnParFix = L1S0_J1P1C1TopipiS_pion0Phi

mnParFix = L0S0_pipiSToetaA_etaBMag
mnParFix = L0S0_pipiSToetaA_etaBPhi

mnParFix = pipiSJ0P-1C1S0
mnParFix = pipiSJ0P-1C1fprod_4PiMag
mnParFix = pipiSJ0P-1C1fprod_4PiPhi
#mnParFix = pipiSJ0P-1C1fprod_EtaEtaMag
#mnParFix = pipiSJ0P-1C1fprod_EtaEtaPhi	
mnParFix = pipiSJ0P-1C1fprod_EtaEtapMag
mnParFix = pipiSJ0P-1C1fprod_EtaEtapPhi
#mnParFix = pipiSJ0P-1C1fprod_KKMag	
#mnParFix = pipiSJ0P-1C1fprod_KKPhi	
mnParFix = pipiSJ0P-1C1fprod_PiPiMag	
mnParFix = pipiSJ0P-1C1fprod_PiPiPhi	

mnParFix = pipiSJ1P1C1S0
mnParFix = pipiSJ1P1C1fprod_4PiMag
mnParFix = pipiSJ1P1C1fprod_4PiPhi
#mnParFix = pipiSJ1P1C1fprod_EtaEtaMag
#mnParFix = pipiSJ1P1C1fprod_EtaEtaPhi
mnParFix = pipiSJ1P1C1fprod_EtaEtapMag
mnParFix = pipiSJ1P1C1fprod_EtaEtapPhi
#mnParFix = pipiSJ1P1C1fprod_KKMag
#mnParFix = pipiSJ1P1C1fprod_KKPhi
mnParFix = pipiSJ1P1C1fprod_PiPiMag
mnParFix = pipiSJ1P1C1fprod_PiPiPhi

# aMatrix0
mnParFix = L0S0_J0P-1C1ToaMatrix0_etaMag
mnParFix = L0S0_J0P-1C1ToaMatrix0_etaPhi

mnParFix = L0S0_aMatrix0Topion0_etaMag
mnParFix = L0S0_aMatrix0Topion0_etaPhi

#mnParFix = a980Mass
#mnParFix = a980pion0etagFactor
#mnParFix = a980K+K-gFactor
#mnParFix = a1450Mass
#mnParFix = a1450pion0etagFactor
mnParFix = a1450K+K-gFactor


