#################################################################################
# Configuration file for JpsiToEtaPiPi PWA                                     #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
noOfThreads = 32
#errLogMode = trace

datFile    = /data/liema/pascal/bes/marc/FS4Vectors-JpsiGamPhiOm_daten.dat
mcFile     = /data/liema/pascal/bes/marc/FS4Vectors-JpsiGamPhiOm_daten.dat

ratioMcToData = 10
useEventWeight = false

paramFile  = ./defaultparams.dat

startHypo  = production


enableHyp = GammaEta_2981


massRangeMin = 1.
massRangeMax = 4.

mode = qaMode
# Determines whether information about configuration options should be emitted
verbose = 1

#mnParFix = J1P-1C-1Lama0Lamb1GammaEta_2981Phi
