#################################################################################
# Configuration file for JpsiToEtaPiPi PWA                                     #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
noOfThreads = 32
#errLogMode = trace
#datFile    = /data/sleipnir1/bertram/pwaData/JpsiToOmOmTo3KKmiss/NoWeight/pwa_file_DATA_JpsiToGamKp2Km2missKp1Km1.dat
#mcFile     = /data/sleipnir1/bertram/pwaData/JpsiToOmOmTo3KKmiss/NoWeight/pwa_file_1MSigMC_JpsiToGamKp2Km2missKp1Km1.dat
#useEventWeight = false

datFile    = /data/sleipnir1/bertram/pwaData/JpsiToOmOmTo3KKmiss/Weight/pwa_file_DATA_JpsiToGamKp2Km2missKp1Km1.dat
mcFile     = /data/sleipnir1/bertram/pwaData/JpsiToOmOmTo3KKmiss/Weight/pwa_file_1MSigMC_JpsiToGamKp2Km2missKp1Km1.dat

ratioMcToData = 10
useEventWeight = true

paramFile  = ./defaultparams.dat

startHypo  = production


#enableHyp = GammaEta_2981


massRangeMin = 2.05
massRangeMax = 2.15

mode = qaMode
# Determines whether information about configuration options should be emitted
verbose = 1

#mnParFix = J1P-1C-1Lama0Lamb1GammaEta_2981Phi
