#################################################################################
# Configuration file for Psi2SToKpKmPiGam PWA                                         #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
datFile = /data/sleipnir1/marc/PwaJpsiGamKsKlKK/FS4Vectors-Data-JpsiGamKsKlKpKm.dat
mcFile = /data/sleipnir1/marc/PwaJpsiGamKsKlKK/FS4Vectors-PHSPMC-JpsiGamKsKlKpKm.dat
paramFile = /data/sleipnir1/marc/PwaJpsiGamKsKlKK/startParamBase.dat
startHypo = production

disableHyp = f02020Hyp

mnParFix = J1P-1C-1L1S1PsiToEtacGamPhi


mode = pwa
# Determines whether information about configuration options should be emitted
verbose = 1
