#################################################################################
# Configuration file for Psi2SToKpKmPiGam PWA                                         #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
datFile = /data/sleipnir1/marc/PwaJpsiGamKsKlKK/FS4Vectors-Data-JpsiGamKsKlKpKm.dat
mcFile = /data/sleipnir1/marc/PwaJpsiGamKsKlKK/FS4Vectors-PHSPMC-JpsiGamKsKlKpKm.dat
paramFile = /data/sleipnir1/marc/PwaJpsiGamKsKlKK/startParamBase.dat
startHypo = production

enableHyp = etacHyp
enableHyp =  eta2225Hyp
#enableHyp = f02020Hyp	
#enableHyp = f02020FlatteHyp
#enableHyp = f22300Hyp
#enableHyp = eta21870Hyp
#enableHyp = f1Hyp
#enableHyp = usePhasespace


mnParFix = J1P-1C-1L1S1PsiToEtacGamPhi


mode = pwa
# Determines whether information about configuration options should be emitted
verbose = 1
