#################################################################################
# Configuration file for Psi2SToKpKmPiGam PWA                                         #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
datFile = /data/sleipnir1/marc/PwaJpsiGamKsKlKK/FS4Vectors-Data-JpsiGamKsKlKpKm.dat
mcFile = /data/sleipnir1/marc/PwaJpsiGamKsKlKK/FS4Vectors-PHSPMC-JpsiGamKsKlKpKm.dat
paramFile = /data/sleipnir1/marc/PwaJpsiGamKsKlKK/startParamBase.dat
startHypo = production

#disableHyp = K1_1410HypBase  
#disableHyp = KKPi_HypBase
#disableHyp = K1_1680_HypBase

#mnParFix = J1P-1C-1L0S1ChiGamMag
#mnParFix = J1P-1C-1L0S1ChiGamphi
#mnParFix = J1P1C1L0S1K890Kphi
#mnParFix = J1P1C1L2S1K890Kphi
#mnParFix = J1P1C1L1S0K_0_1400Kphi
#mnParFix = J1P1C1L1S2K_2_1400Kphi
#mnParFix = J1P1C1L3S2K_2_1400Kphi
#mnParFix = J1P1C1L1S0a980Piphi
#mnParFix = J1P1C1L1S0KappaKphi


qaMode = false
# Determines whether information about configuration options should be emitted
verbose = 1
