#################################################################################
# Configuration file for Psi2SToKpKmPiGam PWA                                         #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
datFile = /data/sleipnir1/marc/PwaJpsiGamKsKlKK/FS4Vectors-Data-JpsiGamKsKlKpKm.dat
mcFile = /data/sleipnir1/marc/PwaJpsiGamKsKlKK/FS4Vectors-PHSPMC-JpsiGamKsKlKpKm.dat
paramFile = ./startParams.dat
startHypo = production

massIndependentFit = 1
massRangeMin = 2.95
massRangeMax = 3.05

enableHyp = etacHyp
enableHyp = f02020Hyp


mnParFix = etacMass
mnParFix = etacWidth
mnParFix = f02020Mass
mnParFix = f02020Width


mnParFix = J1P-1C-1L2S1PsiToF02020GammaMag

mnParFix = J1P-1C-1L1S1PsiToEtacGamPhi
mnParFix = J1P-1C-1L0S1PsiToF02020GammaPhi
mnParFix = J1P-1C-1L2S1PsiToF02020GammaPhi
mnParFix = J0P1C1L0S0F02020ToPhiPhiPhi
mnParFix = J0P1C1L2S2F02020ToPhiPhiPhi



mode = dumpDefaultParams
# Determines whether information about configuration options should be emitted
verbose = 1
