errLogMode = trace
#errLogMode = notice

stepSizeLhPrint = 10
stepSizeLhDump = 20
stepSizeTimer = 20
stepSizeParamsPrint = 5000
stepSizeParamsDump = 500



datFile    = ./toyDataModel.dat
mcFile     = ./toyDataMC.dat

unitInFile = MEV
orderInFile = E Px Py Pz

noOfDataEvents = 15000
ratioMcToData = 3

useDataEventWeight = false
useMCEventWeight = false

paramFile  = ./defaultparams.dat
mode = pwa

verbose = 1

cloneParticle = pion0 pion0A
cloneParticle = pion0 pion0B
cloneParticle = a0(980)0 a0(980)0A
cloneParticle = a0(980)0 a0(980)0B
cloneParticle = a2(1320)0 a2(1320)0A
cloneParticle = a2(1320)0 a2(1320)0B

finalStateParticle = pion0A
finalStateParticle = pion0B
finalStateParticle = eta

pdgTableFile = /Particle/pdtNew.table
cacheAmps = true
pbarmom = 0.9
initial4Vec =    2.238404836    0.      0.     0.9 
projectile4Vec = 1.300134       0.      0.     0.9

lmax = 1
serverPort = 50001
serverAddress = localhost
noOfClients = 2
noOfThreads = 1
evoIterations = 50
evoPopulation = 160
evoRatioOfModParams = 0.05

#useProductionBarrier = false
fitqRProduction = false

# Productions
production = f2(1270) eta
production = a2(1320)0B pion0A
production = a2(1320)0A pion0B

# Decays
decay = Cano f2(1270) To pion0A pion0B
decay = Cano a2(1320)0A To pion0A eta
decay = Cano a2(1320)0B To pion0B eta

# dynamics
addDynamics = f2(1270)	BreitWigner
addDynamics = a2(1320)0A BreitWigner
addDynamics = a2(1320)0B BreitWigner

histMass = pion0A pion0B
histMass = pion0A eta
histMass = pion0B eta
histAngles = pion0A pion0B from pion0A pion0B eta
histAngles = pion0A eta from pion0A pion0B eta
histAngles = pion0B eta from pion0A pion0B eta
histAngles = pion0A from pion0A pion0B
histAngles = pion0A from pion0A eta

replaceMassKey = a2(1320)0A a2(1320)0AB
replaceMassKey = a2(1320)0B a2(1320)0AB

replaceParamSuffix = a2(1320)0B_pion0A a2(1320)0AB_pion0AB
replaceParamSuffix = a2(1320)0A_pion0B a2(1320)0AB_pion0AB

replaceParamSuffix = a2(1320)0ATopion0A_eta a2(1320)0ABTopion0AB_eta
replaceParamSuffix = a2(1320)0BTopion0B_eta a2(1320)0ABTopion0AB_eta


# Masses, widths
mnParFix = f2(1270)Mass
mnParFix = f2(1270)Width
mnParFix = a2(1320)0ABMass
mnParFix = a2(1320)0ABWidth




###############################################
# Output from the PawianFixParameters script ##
###############################################

# Fixing 15 parameters. 

# one pbarp singlet and one triplet phase
mnParFix = J0P-1C1L0S0pbarpPhi
mnParFix = J1P1C1L1S1pbarpPhi

# High L of pbarp states

# productions and decays
mnParFix = L2S2_J0P-1C1Toa2(1320)0AB_pion0ABMag
mnParFix = L2S2_J0P-1C1Toa2(1320)0AB_pion0ABPhi
mnParFix = L1S2_J1P1C1Toa2(1320)0AB_pion0ABMag
mnParFix = L1S2_J1P1C1Toa2(1320)0AB_pion0ABPhi
mnParFix = L1S2_J2P1C1Toa2(1320)0AB_pion0ABMag
mnParFix = L1S2_J2P1C1Toa2(1320)0AB_pion0ABPhi
mnParFix = L2S0_a2(1320)0ABTopion0AB_etaMag
mnParFix = L2S0_a2(1320)0ABTopion0AB_etaPhi
mnParFix = L2S0_f2(1270)Topion0A_pion0BMag
mnParFix = L2S0_f2(1270)Topion0A_pion0BPhi

# isospin factors
mnParFix = Iso1J0P-1C1
mnParFix = Iso1J1P1C1
mnParFix = Iso1J2P1C1

# pipi S-wave

# Kpi sS-wave
