# Example skeleton for gamma p -> X p, X -> Kshort Kshort.
noOfThreads = 1
errLogMode = info

datFile = ./Examples/gammap/laddu_compare/generated/ksks_data.txt
mcFile = ./Examples/gammap/laddu_compare/generated/ksks_mc.txt
unitInFile = GEV
orderInFile = Px Py Pz E
initial4Vec = 8.9382720813 0.0 0.0 8.0
projectile4Vec = 8.0 0.0 0.0 8.0

ratioMcToData = 3
useDataEventWeight = false
useMCEventWeight = false

paramFile = ./Examples/gammap/laddu_compare/generated/ksks_startParams.dat
mode = pwa
verbose = 1

productionFormalism = Cano

# Fixed linear photon beam polarization for this data file.
# Angle is in radians
beamPolFraction = 0.3519
beamPolAngle = 0.0

cloneParticle = Kshort Kshort1
cloneParticle = Kshort Kshort2

finalStateParticle = proton
finalStateParticle = Kshort1
finalStateParticle = Kshort2

production = f0(1500) proton
production = f2'(1525) proton

decay = Cano f0(1500) To Kshort1 Kshort2
decay = Cano f2'(1525) To Kshort1 Kshort2

histMass = Kshort1 Kshort2
histMass = proton Kshort1 Kshort2
histAngles = Kshort1 from Kshort1 Kshort2
histAngles = proton from proton Kshort1 Kshort2

pdgTableFile = /Particle/pdtNew.table
cacheAmps = false
lmax = 3
