#errLogMode = debug
noOfThreads = 1
errLogMode = trace

#datFile    = /data/sleipnir1/bertram/pwaData/gammap/omegap/g12_4v.txt
# mcFile  = /data/sleipnir1/bertram/pwaData/gammap/omegap/procsim_4v.txt
datFile    = /data/sleipnir1/bertram/pwaData/gammap/omegap/g12_newSel50k.txt
mcFile  = /data/sleipnir1/bertram/pwaData/gammap/omegap/procsim_4v_newSel.txt
unitInFile = GEV
orderInFile = Px Py Pz E

ratioMcToData = 3
useDataEventWeight = true

#paramFile  = ./defaultparams.dat
paramFile  = ./startParamMinuitV5.dat

mode = pwa
# Determines whether information about configuration options should be emitted
verbose = 1

productionFormalism = Cano
production = omega proton

# Fixed linear photon beam polarization for this gammap channel.
# The angle is in radians.
beamPolFraction = 0.0
beamPolAngle = 0.0

#finalStateParticle = photon
finalStateParticle = proton
finalStateParticle = pion+
finalStateParticle = pion-
finalStateParticle = pion0

decay = Cano omega To pion+ pion- pion0

massRangeCuts = 0.5 0.9 pion+ pion- pion0
#massRangeCuts = 0.134 0.136 pion0

#histAngles = pion+ from pion+ pion- eta
#histAngles = pion- from pion+ pion- eta
#histAngles = eta from pion+ pion- eta
#histAngles = pion+ from pion+ pion-
#histAngles = eta from pion+ eta
#histAngles = eta from pion- eta
histAngles = pion+ and pion- from pion+ pion- pion0
histAngles = proton from proton pion+ pion- pion0
 
histMass = pion+ pion- pion0
histMass = proton pion+ pion- pion0

pdgTableFile = /Particle/pdtNew.table
cacheAmps = true
#pbarmom = 0.9
lmax = 3
serverPort = 12122
serverAddress = pc14
noOfClients = 32

evoIterations = 300
evoPopulation = 200
