#################################################################################
# Configuration file for GStartProject                                          #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
datFile = /home/bertram/PawianGit110728/Pawian/Examples/Psi2STo2K2PiGam/data/110310_chic0_data_pwasample.dat
mcFile = /home/bertram/PawianGit110728/Pawian/Examples/Psi2STo2K2PiGam/data/110310_chic0_signalmc_pwasample.dat
paramFile = /home/bertram/PawianGit110728/Pawian/Examples/Psi2STo2K2PiGam/data/startParamHyp8_2K0_2K2_K1_1270_woHyp5_KappaK1950Ultra.dat
startHypo = hyp8

disableHyp = K1_1400Hyp  
disableHyp = K0_1430_K2_1430Hyp
disableHyp = K1_1400_K1_1400Hyp
disableHyp = f980f1500Hyp4
disableHyp = f980f_2_1525Hyp4
disableHyp = f1500f_2_1525Hyp4
disableHyp = doHyp5
disableHyp = KappaK_0_1950Hyp6
disableHyp = K_1_1650Hyp8

mnParFix = J1P-1C-1L0S1ChiGamMag
mnParFix = J1P-1C-1L0S1ChiGamphi  
mnParFix = J0P1C1L2S2K892K892Mag
mnParFix = J0P1C1L2S2K892K892phi;
mnParFix = J1P1C0L2S1K_1_1270ToK892PiMag
mnParFix = J1P1C0L2S1K_1_1270ToK892Piphi
#mnParFix = J0P1C1L2S2K_2_1430K_2_1430Mag
#mnParFix = J0P1C1L2S2K_2_1430K_2_1430phi
#mnParFix = J0P1C1L4S4K_2_1430K_2_1430Mag
#mnParFix = J0P1C1L4S4K_2_1430K_2_1430phi
#mnParFix = J0P1C1L2S2K892K_1_1680Mag
#mnParFix = J0P1C1L2S2K892K_1_1680phi
#mnParFix = J0P1C1L2S2K892K_1_2300Mag
#mnParFix = J0P1C1L2S2K892K_1_2300phi


qaMode = false
# Determines whether information about configuration options should be emitted
verbose = 1
