#################################################################################
# Configuration file for JpsiToGammaOmegaOmega PWA                              #
#                                                                               #
# Authors: Bertram Kopf, Malte Albrecht (RUB)                                   #
#################################################################################

#errLogMode = debug
errLogMode = trace

datFile    = ./toyDataSignal.dat
mcFile     =  ./toyMC.dat

paramFile = ./startparams.dat

noOfDataEvents = 5000
ratioMcToData  = 6

useDataEventWeight = false
useMCEventWeight = false

mode = qaMode
name = _epem

massRangeCuts = 1.4 3.2 pion1+ pion1- pion10 pion2+ pion2- pion20
massRangeCuts = 0.762 0.802 pion1+ pion1- pion10
massRangeCuts = 0.762 0.802 pion2+ pion2- pion20

cmsMass = 3.096916


# Determines whether information about configuration options should be emitted
verbose = 1

finalStateParticle = photon
finalStateParticle = pion1+
finalStateParticle = pion1-
finalStateParticle = pion10
finalStateParticle = pion2+
finalStateParticle = pion2-
finalStateParticle = pion20

cloneParticle = pion+ pion1+
cloneParticle = pion- pion1-
cloneParticle = pion0 pion10
cloneParticle = pion+ pion2+
cloneParticle = pion- pion2-
cloneParticle = pion0 pion20
cloneParticle = omega omega1
cloneParticle = omega omega2

productionFormalism = Heli
useProductionBarrier = true 0.66

usePhaseSpaceHyp = false

production = eta(2225) photon
production = f2(1910) photon

decay = Cano omega1 To pion1+ pion1- pion10
decay = Cano omega2 To pion2+ pion2- pion20

decay = Cano eta(2225) To omega1 omega2
decay = Cano f2(1910) To omega1 omega2

#Dynamics
# NO dynamics!! Omega shape is in MCs, eta_c shape is in MCs!

addDynamics = eta(2225) BreitWignerBlattWRel 
addDynamics = f2(1910) BreitWignerBlattWRel
 
#Histogramms
histMass = pion1+ pion1- pion10
histMass = pion1+ pion1- pion10 pion2+ pion2- pion20
histMass = photon pion1+ pion1- pion10
histMass = photon pion2+ pion2- pion20

histAngles = photon from pion1+ pion1- pion10 pion2+ pion2- pion20 photon
histAngles = pion1+ pion1- pion10 from pion1+ pion1- pion10 pion2+ pion2- pion20
histAngles = pion1+ and pion1- from pion1+ pion1- pion10
histAngles = pion2+ and pion2- from pion2+ pion2- pion20

#Fixed Parameter
mnParFix = J1P-1C-1Lama0Lamb-1_J1P-1C-1Toeta(2225)_photonPhi

mnParFix = L1S1_eta(2225)Toomega1_omega2Mag
mnParFix = L1S1_eta(2225)Toomega1_omega2Phi
mnParFix = L0S2_f2(1910)Toomega1_omega2Mag
mnParFix = L0S2_f2(1910)Toomega1_omega2Phi

mnParFix = L1S0_omega1Topion1+_pion1-_pion10Mag
mnParFix = L1S0_omega1Topion1+_pion1-_pion10Phi
mnParFix = L1S0_omega2Topion2+_pion2-_pion20Mag
mnParFix = L1S0_omega2Topion2+_pion2-_pion20Phi

pdgTableFile = /Particle/pdtNew.table
cacheAmps = true

serverPort = 50003
serverAddress = localhost
noOfClients = 2
noOfThreads = 2
evoIterations = 50
evoPopulation = 160

calcContribution = eta(2225)  withZeroAmp  Tof2(1910)
calcContribution = f2(1910)  withZeroAmp  Toeta(2225)
contributionError = true
saveContributionHistos = true
