#################################################################################
# Configuration file for JpsiToEtaPiPi PWA                                     #
#                                                                               #
# Authors: Bertram Kopf (RUB)                                                   #
#################################################################################

errLogMode = debug
noOfThreads = 32
#errLogMode = trace

datFile    = /data/sleipnir1/bertram/pwaData/D0Data/pipiSOnly/Ascii_Data.txt
mcFile     = /data/sleipnir1/bertram/pwaData/D0Data/pipiSOnly/Ascii_PHSP.txt
#datFile    = /data/sleipnir1/bertram/pwaData/D0Data/pipiSOnly/Ascii_PHSP.txt

#datFile    = /data/sleipnir1/bertram/pwaData/JpsiToOmOmTo3KKmiss/Weight/pwa_file_DATA_JpsiToGamKp2Km2missKp1Km1.dat
#mcFile     = /data/sleipnir1/bertram/pwaData/JpsiToOmOmTo3KKmiss/Weight/pwa_file_1MSigMC_JpsiToGamKp2Km2missKp1Km1.dat

ratioMcToData = 10
useEventWeight = true

paramFile  = ./defaultparams.dat

enableHyp = PiPiS



mode = qaMode
# Determines whether information about configuration options should be emitted
verbose = 1

mnParFix = J0P-1C0L0S0PiPiSPhi
mnParFix = PiPiSb_pole1MagOther
mnParFix = PiPiSb_pole1PhiOther
mnParFix = PiPiSb_pole5MagOther
mnParFix = PiPiSb_pole5PhiOther
mnParFix = PiPiSfprod_etaetapMagOther
mnParFix = PiPiSfprod_etaetapPhiOther